<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title><%= pageTitle %></title>
</head>
<body>
    <div class="flex bg-[url('/assets/bg.png')] min-h-screen bg-center bg-cover justify-center items-center">
        <form id="Signin" class="bg-[#5D4F71] flex flex-col w-[440px] text-black rounded-[20px] p-5 h-fit">
            <div class="text-white font-bold text-[28px] text-center">เข้าสู่ระบบ</div>
            <div class="mb-3">
                <div class="text-white text-[16px]"> 
                    อีเมล
                </div>
                <input
                    class="bg-white rounded-[16px] w-full p-2 pl-4"
                    placeholder="อีเมล"
                    type="email"
                    id="emailLogin"
                    required
                />
            </div>
            <div class="mb-3">
                <div class="text-white text-[16px]"> 
                    รหัสผ่าน
                </div>
                <input
                    class="bg-white rounded-[16px] w-full p-2 pl-4"
                    placeholder="รหัสผ่าน"
                    type="password"
                    id="passwordLogin"
                    required
                />
            </div>
            <a href="/signup" class="text-white mb-5 text-[16px] underline underline-offset-4"> 
                สมัครบัญชี
            </a>
            <button type="submit" class="bg-gradient-to-r from-[#8164FF] to-[#CB52FF] text-white font-bold rounded-[10px] p-2">
                เข้าสู่ระบบ
            </button>
        </form>
    </div>
    <script src='/js/script.js'></script>
</body>
</html>